* { box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

hr {
	width: 90%;
}

#top {
  width: 100%;
  position: fixed;
  background-color: #fff;
  padding: 10px;
  padding-bottom: 5px;
  box-shadow: 3px 3px 20px #E8E8E8;
  z-index: 11;
  top:0;
	left: 0;
  margin: 0px;
  text-align: center;
  border-bottom: 2px solid #E8E8E8;
}

.form-split {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.form-split-element {
  display: block;
}

.top-element, .top-element-right {
  display: inline;
  color: #3a3c3d;
  margin: 5px;
}

.top-element label {
  font-size: 16pt;
}

.text-input{
  /*color: #3a3c3d;*/
  background-color: #E8E8E8;
  border-radius: 10px;
  border-style: none;
  font-size: 14pt;
  padding: 5px;
  width: 50%;
}

.top-element-right {
  text-align: right;
}

#top img {
  margin: auto;
  vertical-align: middle;
  width: 45px;
}

.displayButton {
  transition-property: color, filter;
  transition-duration: 0.25s;
}

.displayButton:hover {
  filter: invert(50%);
  cursor: pointer;
  color: #808080;
}

.button {
  font-size: 20pt;
  background-color: #fff;
  border-radius: 10px;
  border-style: none;
  margin-bottom: 15px;
  transition-property: background;
  transition-duration: 0.25s;
}

.button:hover {
  cursor: pointer;
  background-color: #E8E8E8;
}

#top h1 {
  font-size: 2em;
}

#addRecipe, #messageArea {
  width:100%;
  display: none;
  margin: auto;
  text-align: center;
  padding: 0px 5% 10px 5%;
  box-shadow: 3px 3px 20px #E8E8E8;
  border-bottom: 2px solid #E8E8E8;
}

#content {
  margin-top: 75px;
  font-size: 2em;
  text-align: center;
}

/* REUSABLE ELEMENTS */
.right {
  float: right;
}

.left {
  float: left;
}

.center {
  text-align: center;
}

/* MASONRY STYLING */
.grid {
  width: 100%;
  padding: 0% 10% 0% 10%;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,.grid-item {
  float: left;
  width: 20%;
  background: #fff;
  border: 2px solid #E8E8E8;
  box-shadow: 3px 3px 20px rgb(145, 145, 145);
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius:15px;
  /*margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;*/
  transition-property: background, transform;
  transition-duration: 0.25s;
}

.grid-item-inner-content {
  display: none;
}

.grid-item--width2 { width: 25%; }
.grid-item--width3 { width: 30%; }
.grid-item--width4 { width: 40%; }

.grid-item--selected {
  width: 60%;
  height: 480px;
  z-index: 2;
}

.grid-item--selected .grid-item-inner-content{
  display: block;
  text-align: left;
}

.grid-item:before {
  display: block;
  color: white;
  padding-top: 0.2em;
  text-align: center;
  font-size: 1.4rem;
}

.grid-item:hover {
  background: #E8E8E8;
  border-color: white;
  cursor: pointer;
}