* { box-sizing: border-box; }

html, body {
  background-image: url("./leaves-pattern.png");
	background-repeat: repeat;
	background-attachment: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

hr {
	width: 90%;
}

/*Input Styling*/
/*Source - https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/*/
#imageField {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#imageField + label {
  display: inline-block;
}
/*GENERAL STYLING*/
#top {
  width: 100%;
  position: fixed;
  background-image: url("./black_paper.png");
	background-repeat: repeat;
	background-attachment: fixed;
  padding: 10px;
  padding-bottom: 5px;
  box-shadow: 3px 3px 20px #000;
  z-index: 11;
  top:0;
	left: 0;
  margin: 0px;
  text-align: center;
  border-bottom: 2px solid #000;
}

.form-split {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.form-split-element {
  display: block;
  margin-bottom: 15px;
}

.top-element, .top-element-right {
  display: inline;
  color: #fff;
  margin: 5px;
}

.top-element label {
  font-size: 16pt;
}

.text-input{
  /*color: #3a3c3d;*/
  background-color: #E8E8E8;
  border-radius: 10px;
  border-style: none;
  font-size: 14pt;
  padding: 5px;
  width: 50%;
}

.top-element-right {
  text-align: right;
}

#top img {
  margin: auto;
  vertical-align: middle;
  width: 45px;
}

.displayButton {
  font-family: LindysDiner, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  transition-property: color, filter;
  transition-duration: 0.25s;
}

.displayButton img {
  filter: invert(100%);
}

.displayButton:hover {
  filter: invert(50%);
  cursor: pointer;
  color: #808080;
}

.button {
  color: #fff;
  font-size: 20pt;
  background-color: #EEC015;
  border-radius: 10px;
  border-style: none;
  margin-bottom: 15px;
  transition-property: background;
  transition-duration: 0.25s;
}

.button:hover {
  cursor: pointer;
  background-color: #F8D246;
}

.button--close {
  background-color: #303F42;
}

.button--close:hover {
  cursor: pointer;
  background-color: #55676A;
}

.button--label {
  position: absolute;
  left:47%;
  top: 25%;
  right:0;
  font-size: 14pt;
  margin-left:auto;
  margin-right:auto;
}

#top h1 {
  font-family: LindysDiner, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 2em;
}

#content {
  margin-top: 75px;
  font-size: 2em;
  text-align: center;
}

.load-gif img {
  width: 99%;
  height: 99%;
}

/* MODAL STYLING*/
.modal-background {
  display: none; 
  position: fixed; 
  z-index: 3; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.4); 
  border-radius:15px;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.modal-body {
  padding: 2px 16px;
  border-radius:15px;
}

.modal-content {
  position: fixed;
  background-color: #fefefe;
  padding: 0%;
  margin: auto;
  overflow: auto;
  text-align: center;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-content .load-gif {
  width: 150px;
  height: 150px;
  top: 45%;
  left: 45%;
  box-shadow: none;
  overflow: hidden;
  border-style: none;
  animation: none;
  background-color: rgba(0, 0, 0, 0);
}

.modal-content-large {
  height: 620px;
  width:76%;
  top: 15%;
  left: 12%;
}

.modal-content-small {
  height: 180px;
  width:56%;
  top: 15%;
  left: 22%;
}

.modal-header {
  font-family: LindysDiner, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: center;
  padding: 2px 16px;
  background-image: url("./black_paper.png");
	background-repeat: repeat;
	background-attachment: fixed;
  color: white;
}

.modal-footer {
  padding: 2px 8px;
  text-align: center;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 15%; opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

/* REUSABLE ELEMENTS */
.right {
  float: right;
}

.left {
  float: left;
}

.center {
  text-align: center;
}

.div-50 {
  display: inline-block;
  width:45%;
}

/* MASONRY STYLING */
.grid {
  width: 100%;
  padding: 0% 10% 0% 10%;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  color: #fff;
  background-image: url("./black_paper.png");
	background-repeat: repeat;
  border: 2px solid #E8E8E8;
  font-family: LindysDiner, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  width: 256px; /* Default size, will be adjusted dynamically based on recieved input */
  box-shadow: 3px 3px 20px rgb(145, 145, 145);
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius:15px;
  margin-bottom: 10px;
  word-wrap: break-word;
  overflow: hidden;
  transition-property: filter;
  transition-duration: 0.25s;
}

.grid-item-inner-content {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background: #fff;
  color: #000;
  display: none;
  overflow: auto;
}

.grid-item--width2 { width: 512px; }

.grid-item--selected {
  width: 512px;
  z-index: 2;
}

.grid-item--selected .grid-item-inner-content{
  display: block;
  text-align: left;
}

.grid-item:before {
  display: block;
  color: white;
  padding-top: 0.2em;
  text-align: center;
  font-size: 1.4rem;
}

.grid-item:hover {
  filter: opacity(.9);
  border-color: white;
  cursor: pointer;
}

/* FONTS */
@font-face {
	font-family: LindysDiner;
	src: url(./LindysDiner.ttf);
}